li{float: left;
color:#1abc9c;
}

nav{
	width: 600px;
	margin: 0 auto;
}
li:after{
content:'| ';
}
li:last-child::after{
content:'';
}

li:a{
	text-decoration: none;
	color: #1abc9c!important;
}
a:hover{
	text-decoration: none;
	color: #16a085;
}
img{
	display: block;
	max-width: 100%;

}
.container{
	clear: both;
	width: 900px;
	margin: 0 auto;
	text-align: center;
}